.icon-account{
	background-image: url(../img/icon/icon_account.png);
}
.icon-password{
	background-image: url(../img/icon/icon_password.png);
}
.icon-validcode{
	background-image: url(../img/icon/icon_validcode.png);
}
.icon-close{
	background-image: url(../img/icon/icon_close.png);
}
.icon-index1-selected{
	background-image: url(../img/icon/icon_index1_selected.png);
}
.icon-index1-unselected{
	background-image: url(../img/icon/icon_index1_unselected.png);
}
.icon-index2-selected{
	background-image: url(../img/icon/icon_index2_selected.png);
}
.icon-index2-unselected{
	background-image: url(../img/icon/icon_index2_unselected.png);
}
.icon-index3-selected{
	background-image: url(../img/icon/icon_index3_selected.png);
}
.icon-index3-unselected{
	background-image: url(../img/icon/icon_index3_unselected.png);
}
.icon-online-customer{
	background-image: url(../img/icon/icon_online_customer.png);
}
.icon-online-submission{
	background-image: url(../img/icon/icon_online_submission.png);
}
.icon-mine-set{
	background-image: url(../img/icon/icon_mine_set.png);
}
.icon-mine-headimg{
	background-image: url(../img/icon/icon_my_headimg.png);
}
.icon-animal-log{
	background-image: url(../img/icon/icon_animal_log.png);
}
.icon-animal-interactive{
	background-image: url(../img/icon/icon_animal_interactive.png);
}
.icon-animal-signin{
	background-image: url(../img/icon/icon_animal_signin.png);
}
.icon-security{
	background-image: url(../img/icon/icon_security.png);
}
.icon-verification{
	background-image: url(../img/icon/icon_verification.png);
}
.icon-card-bag{
	background-image: url(../img/icon/icon_card_bag.png);
}
.icon-my-group{
	background-image: url(../img/icon/icon_my_group.png);
}
.icon-share{
	background-image: url(../img/icon/icon_share.png);
}
.icon-my-notice{
	background-image: url(../img/icon/icon_my_notice.png);
}
.icon-back{
	background-image: url(../img/icon/icon_back.png);
}
.icon-add{
	background-image: url(../img/icon/icon_add.png);
}
.icon-info{
	background-image: url(../img/icon/icon_info.png);
}
.icon-my-headimg{
	background-image: url(../img/icon/icon_my_headimg.png);
}
.icon-volume-close{
	background-image: url(../img/icon/icon_volume_close.png);
}
.icon-volume-open{
	background-image: url(../img/icon/icon_volume_open.png);
}
.icon-password-eye-close{
	background-image: url(../img/icon/icon_password_eye_close.png);
}
.icon-password-eye-open{
	background-image: url(../img/icon/icon_password_eye_open.png);
}
.icon-go{
	background-image: url(../img/icon/icon_go.png);
}
.icon-player{
	background-image: url(../img/icon/icon_player.png);
}
.icon-up{
	background-image: url(../img/icon/icon_up.png);
}
.icon-down{
	background-image: url(../img/icon/icon_down.png);
}
.icon-cc-down{
	background-image: url(../img/icon/icon_cc_down.png);
}
.icon-zfb{
	background-image: url(../img/icon/icon_zfb.png);
}
.icon-wx{
	background-image: url(../img/icon/icon_wx.png);
}
